__pycache__/
build/
debug/
dist/
release/
CompileSetup.iss
GoogleScholar.pro
GoogleScholar.pro.user
GoogleScholarFinal.xlsx
icon.png
icon.qrc
index.html
Interface.spec
main.cpp
mainwindow.cpp
mainwindow.h
mainwindow.ui
Makefile
Makefile.Debug
Makefile.Release
ui_mainwindow.h
文件转换命令.txt
